<!DOCTYPE html> 
<html lang="en"> 
<head> 
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    

    <title>Search</title> 
</head> 
<body> 
	
		 			<div><h1>Enter names</h1></div>
		 			
		 		
							
							<form action="/search" method="POST">
								<div >
									<label for="artist1">Artist1</label>
									<div>
										<input type="text" class="form-control" id="artist1" name="artist1" required>
									</div>
								</div>
								<div>
									<label for="artist2" >Artist2</label>
									<div >
										<input type="text"  id="artist2" name="artist2" required>
									</div>
								</div>
								<div >
									<button type="submit" >Get path</button>
								</div>
							</form>


	
</body>
</html>